    /* dia 1 */
    
:root {
    --text-color: #667085;
    --main-color: #8E2424;
}

html,
body,
h1, a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background: #FFF;
    font-family: 'Inter' sans-serif;
}

.navbar nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: auto;
    height: 80px;
    margin: 28px 56px;
} 

.div-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 148px;
    height: 26.99px;
}

#logo {
    width: 27px;
    height: 26.99px;
}

#logo-texto {
    width: 113px;
    height: 24px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #3A404E;
}

.div-botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 362px;
    height: 32px;
    margin-left: 119px;
}

.nav-botoes {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: var(--text-color);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.div-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 47px;
    height: 24px;

    margin-left: 398px;
    font-family: 'Inter';
    font-size: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    gap: 30px;
}
    
#entrar {
    flex: none;
    order: 0;
    flex-grow: 0;
    
    color: var(--text-color);
}

#cadastrar {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 30px;

    width: 112px;
    height: 44px;

    color: #FFF;
    background: var(--main-color);
    border: 1px solid var(--main-color);

    box-shadow: 0px 1px 2px
        rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

    /* dia 2 */

.section1 {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 96px 0px;
   gap: 24px;
}

#textoSection1 {
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--main-color);

}

#tituloSection {
    width: 603px;
    height: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;

    letter-spacing: -0.02em;
    
    color: #101828;
}

.textoSection2 {
    width: 791px;
    height: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    text-align: center;

    color: var(--text-color);
}

    /* dia 3 */

.container-metricas {
    height: 288px;
    
    display: flex;
    flex-direction: row;    
    align-items: center;
    padding: 0px 0px 96px;
    gap: 32px;
    margin: 28px 64px;
}

.container-metricas h1 {
    width: 280px;
    height: 72px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: var(--main-color);
    letter-spacing: -0.02em;
}

.container-metricas span {
    width: 280px;
    height: 28px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
    letter-spacing: -0.02em;
}

.container-metricas p {
    width: 280px;
    height: 48px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: var(--text-color);
}

    /* dia 4 */

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 64px;

}

#tituloBanner {
    width: 603px;
    height: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    letter-spacing: -0.02em;
    
    color: #101828;
}

#containerBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#divVagas {
    width: 125px;
    height: 28px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;

    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
}

#textoBanner {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: var(--main-color);
}

    /* dia 5 */

.container-vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0px;
    gap: 64px;
}
.box-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}
.titulo-area {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: #101828;
}

.box-vaga {
    width: 768px;
    height: 136px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 24px 24px 28px;
    gap: 24px;

    border: 1px solid #EAECF0;
    border-radius: 16px;
}

.titulo-vaga {
    width: 720px;
    height: 28px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    color: #101828;
}

.informacoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
}

.informacoes span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    line-height: 24px;

    color: #667085;
}

    /* dia 6 */

.depoimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 96px;
}

.container-depoimentos {
    width: 1070px;
    height: 320px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 32px;

    background: rgba(196, 25, 25, 0.03);
    border-radius: 16px;
}

.text-depoimentos {
    font-family: 'Inter';
    font-style: normal;

    text-align: center;
}
#texto-depoimentos {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color:var(--main-color);
}

#titulo-depoimentos {
    width: 1088px;

    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;

    color: #101828;
}

#nome-colaborador {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

#profissao-colaborador {
    width: 1088px;
    height: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 4px;
    text-align: center;

    color: var(--text-color);
}

    /* dia 7 */

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 32px;

    background: #F9FAFB;;
}

.footer-fonts {
    font-family: 'Inter';
    font-style: normal;
    align-items: center;
}

#titulo-footer {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    text-align: center;

    letter-spacing: -0.02em;

    color: #101828;
}

#footer-span1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    text-align: center;

    color: var(--text-color);
}

#footer-email {
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 12px 14px 12px 16px;
    gap: 8px;
    
    border: 1px solid #d5d0dd;
    box-shadow: 0px 1px 2px 
    rgba (16, 24, 40, 0.05);
    border-radius: 8px;
}

#footer-email ::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
}

.footer-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
}

.cadastrar-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    
    background-color: var(--main-color);
    border: 1px solid --main-color;
    box-shadow: 0px 1px 2px
    rgba (16, 24, 40, 0.05);
    border-radius: 8px;
}

.cadastrar-footer span {
    font-family: 'Inter';
    font-style: normal;
    line-height: 20px;

    color: #fff;
} 

#footer-span2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    display: flex;
    align-items: center;

    color: #98A2B3;
}